In [2]:
import pandas as pd
pd.__version__

'2.1.4'

In [3]:
df = pd.read_csv('E:/ML ZoomCamp/laptop_price.csv')

In [4]:
df.count()

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

In [15]:
df['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [20]:
df['Model'].unique()

array(['ExpertBook', 'Go', 'Katana', '15S', 'Crosshair', 'ThinkPad',
       'VivoBook', 'Akoya', 'Victus', 'V15', 'Thin', 'ROG', 'IdeaPad',
       'Cyborg', 'M515UA', 'TUF', 'Aspire', 'Pavilion', 'Vector',
       'Chromebook', 'Omen', 'ZenBook', 'Creator', 'MacBook Air',
       'ThinkBook', '250', 'Modern', '255', 'MacBook Pro', 'Prestige',
       'Stealth', 'Pulse', 'Blade', 'Legion', 'Raider', 'ProBook', 'F515',
       'G5', 'Vostro', 'Nitro', 'Gram', 'E410', 'Flex Advance', 'Bravo',
       'Aero', 'Yoga', 'Galaxy Book', 'Erazer', 'Summit', 'Ultra',
       'Extensa', 'Flex', 'EliteBook', 'Revolt', 'Latitude', 'Envy',
       'Deputy', 'Predator', 'Surface Laptop', '14w', 'Titan', 'Ioxbook',
       'Aorus', 'Swift', 'Surface Go', 'Netbook Pro', 'Surface Pro',
       'Notebook', '470', 'Spectre', 'Alurin', 'Satellite Pro', 'XPS',
       'ConceptD', 'E510', 'Beast', 'TravelMate', 'Portégé', 'Tecra',
       'Neo', 'Electronics', '14S', 'Classmate Pro', '17', 'Zbook', 'BR',
       '300w', 'M515', 'Nubian', '100e', 'Moove', 'V14', 'ProArt', '100w',
       'V17', 'F415EA', 'LOQ', 'Macbook', 'Leopard', 'U4', 'P1511',
       'Enduro', 'Precision', 'G7', 'Voom', 'N1510', 'WS63', 'AURELION',
       'AZIR', 'Book Prime', 'Edge', 'Book', 'F415', 'P1411', 'A7',
       '15U70N', 'V330', 'Alpha', 'Delta', 'GL65', 'GL75'], dtype=object)

In [26]:
df_Dell = df[df['Brand']=='Dell']
df_Dell['Final Price'].max()

3936.0

In [29]:
df['Screen'].median()df['Screen'].median()

15.6

In [30]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [31]:
df['Screen'].fillna(15.6)

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [32]:
df['Screen'].median()

15.6

In [36]:
df_innjoo= df[df['Brand']=='Innjoo']

In [44]:
df_innjoo

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [45]:
X = df_innjoo[['RAM', 'Storage', 'Screen']]

In [46]:
X = X.to_numpy()

In [47]:
import numpy as np

XTX = np.dot(X.T, X)

In [48]:
XTX_inv = np.linalg.inv(XTX)

In [49]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [50]:
w = np.dot(np.dot(XTX_inv, X.T), y)

In [51]:
sum_of_weights = np.sum(w)
print(sum_of_weights)

91.29988062995815

##### Thanks!